* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root { height: 100%; }
html, body { overflow-x: hidden; }

/* sets up dark and light mode */
:root { --bg: #d399e6; --fg: #111111; }
:root.dark { --bg: #0b0a0a; --fg: #fffefe; }

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--bg);
  color: var(--fg);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid var(--fg);
  padding: 0.6em 1.2em;
  font: inherit;
  background: transparent;
  color: var(--fg);
  cursor: pointer;
  transition: border-color 0.25s;
}

.main-content {
  flex: 1;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  color: var(--fg);
}
